/* Custom CSS to override docsify styling */
h1.app-name {
    margin: 0 0.5rem 1rem 0.5rem;
}

body {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-bg-primary {
    color: #fff!important;
    background-color: #e76f51!important;
}

.text-bg-success {
    color: #fff!important;
    background-color: #DBFE87!important;
}

.text-bg-secondary {
    color: #fff!important;
    background-color: #515A47!important;
}

.text-bg-tertiary {
    color: #fff!important;
    background-color: #D7BE82!important;
}

.text-bg-warning {
    color: #fff!important;
    background-color: #755C1B!important;
}

.text-bg-danger {
    color: #fff!important;
    background-color: #400406!important;
}

.badge {
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 0.375rem;

    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
}
